* {
  border-collapse: collapse;  
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

table {
  width: 100%;
}

th {
  background: black;
  color: white;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
}

tr {
  border: 1px solid black;
}

th, td {
  padding: 8px;
}

td {
  border-right: 1px solid black;
}

.content {
  display: none;
}

.grid {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

.grid-item {
  background-size: cover;
  border: 2px solid black;
  overflow: hidden;
  text-transform: capitalize;
}

.grid-item span {
  padding: 2px;
  position: absolute;
}

.grid-item::after {
  display: block;
  height: 100%;
  width: 100%; 
  content: '';
  background: rgba(210, 210, 210, 0.6);
}

.empty::after {
  background: transparent;
}

#chrom {
  background-image: url('https://cdn.glitch.global/9e2e29a4-7d22-4811-83ed-f363a298e10c/chrom.png?v=1643478689150');
}

#robin {
  background-image: url('https://cdn.glitch.global/9e2e29a4-7d22-4811-83ed-f363a298e10c/robin.png?v=1643479480614');
}

#lissa {
  background-image: url('https://cdn.glitch.global/9e2e29a4-7d22-4811-83ed-f363a298e10c/lissa.png?v=1643480138596');
}

#donnel {
  background-image: url('https://cdn.glitch.global/9e2e29a4-7d22-4811-83ed-f363a298e10c/donnel.png?v=1643484199073');
  background-position: 0 50%;
}

#frederick {
  background-image: url('https://cdn.glitch.global/9e2e29a4-7d22-4811-83ed-f363a298e10c/frederick.png?v=1643484783380');
}

$background: #3A3A4D;
$tile-color: yellowgreen;
$color: #efefef;

html {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1 {
  color: $color;
  font-weight: normal;
  font-weight: 300;
  margin-bottom: 30px;

  a {
    color: $color;
    border-bottom: 2px solid $color;
    text-decoration: none;
    padding-bottom: 3px;
    
    &:hover {
      color: $tile-color;
      border-color: $tile-color;
    }
  }
}

button {
  padding: 12px 30px;
  box-shadow: none;
  border: none;
  color: $color;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: rgba(0, 0, 0, 0.35);
    color: $tile-color;
  }

  &:focus {
    outline: none;
  }
}

.tile {
  display: block;
  position: absolute;
  background-color: $tile-color;
  color: $background;
  padding: 5px;
  font-weight: bold;
}

.layout {
  color: $color;
  margin-bottom: 15px;
  
  label {
    margin-right: 15px;
    cursor: pointer;
    
    &:hover {
      color: $tile-color;
    }
  }

  input {
    margin-right: 3px;
  }
}
